# System ----------------------------------------------------------------
# IDEA
*.iml
.idea/
*.ipr
*.iws

# OSX
.DS_Store

# Dir -----------------------------------------------------------------
# Common
*.ipynb_checkpoints/
*__pycache__/

# Project
*_dataset_processing/
*backup/
*results/
*running/

# Log
*wandb/

# Other
*_测试/
*_常用模块/
*_常用脚本/
*_论文/
*_历史代码/

# File ----------------------------------------------------------------
*.pyc 
*.txt
*.pkl
*.tar
*.jpg
*.pdf
*.npy
*.gif
*.mp4
*.mat
*.json
*.pth
*.log
*.png

*backup.sh

# 修复pyc文件异常上传的问题
# git rm --cached '**/*.pyc'
# git add .gitignore
# git commit -m "fix: 优化 .gitignore 配置，正确忽略 pycache 和 pyc 文件"